body {font: 1.2em 'Open Sans Condensed', sans-serif;}
h1, h2, p { padding:.2em 0;}
h1 { font-size:2em; font-weight:bold;}
h2 {font-size: 1.6em; font-weight:bold;}
ul {margin-left:1.5em;}
ul li { list-style-type:disc;}
#container { width:95%; margin: 0 auto;}