/*greater than 650 */
@media screen and (min-width: 650px) {
    body {
        background: #000 url(../images/background.jpg) no-repeat center top;
    }

    #content {
		width: 60%;
		padding: 3% 4%;
		float:left;
	}

	#sidebar {
		width: 30%;
		float: right;
		margin:20px 0 30px;
	}

    .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

    #main-nav a {
		/* make font size larger and add some more padding to make the navigation bar a bit bigger*/
		font-size:110%; 
        padding: 14px 15px;
	}

    #header {
		height:140px;
	}
	
	#site-name {
		margin: 20px 0 .4em;
	}
	
	#site-description {
		margin: 20px 0 .4em;
		position: absolute;
		font-size:1.1em;
		top:35px;
	}

    #main-nav {
		position: absolute;
		width:100%;
	}

}

/*980 and above */
@media screen and (min-width: 980px) {
    #container {
        width: 980px;
    }

    #content {
        padding: 20px 35px;
    }
}